.holidays-page {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  select, input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  select:focus, input:focus {
    outline: none;
    border-color: #ff4057;
  }
  
  button {
    background-color: #ff4057;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .results-container {
    margin-top: 20px;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }

  .holidays-page {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .results-container {
    margin-top: 20px;
    padding: 20px;

  }
  