.world-clock {
    text-align: center;
    margin-bottom: 20px;
    color: #0f0f0f;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ff4057;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .analog-clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    margin: 20px auto;
  }
  
  .hand {
    position: absolute;
    transform-origin: 50% 100%;
    background-color: black;
    border-radius: 4px;
  }
  
  .hour {
    height: 40px;
    width: 6px;
    top: 50px;
    left: 97px;
  }
  
  .minute {
    height: 60px;
    width: 4px;
    top: 40px;
    left: 98px;
  }
  
  .second {
    height: 80px;
    width: 2px;
    top: 18px;
    left: 94px;
    background-color: red;
    z-index: 1;
  }
  
  .center {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border: 2px solid #f0f0f0;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 94px;
    left: 94px;
    z-index: 2;
  }
  
  .number {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  