.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: gray;
}

.heading {
  margin-bottom: 20px;
  font-size: 50px;
  color: #f0ecec;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

.logo {
  margin-left: 630px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 150px;
  height: 150px;
}

.signup-container {
  flex: 1;
  text-align: center;
  margin-top: 20px;
  color: #de1010;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border: 1px solid #dd1212;
  border-radius: 15px;
}

.login-container {
  flex: 1;
  text-align: center;
  margin-top: 20px;
  color: #de1010;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border: 1px solid #dd1212;
  border-radius: 15px;
  margin-left: 20px; /* Add margin to shift the login container to the right */
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}

footer a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
